---
layout: splash
title: Blog Posts
splashimg: /assets/img/rs_crevasses_terminus.jpg
---
<div class="col-lg-12">
    <h1>Blog Posts</h1>
    <hr class="border-2"/>
    {% if site.posts == empty %}
    <div class="col-md-12">No blogs to display at the moment, come back later!</div>
    {% else %}
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for post in site.posts %}
    <div class="col-md-4">
    {% include blog_card.html post=post card_height="10rem" use_description=true %}
    </div>
    {% endfor %}
    {% endif %}
</div>